
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 10% 2%;
    --foreground: 120 100% 70%;
    
    --primary: 116 100% 71%;
    --primary-foreground: 140 10% 2%;
    
    --border: 140 10% 10%;
    --radius: 0rem;
  }
}

@layer base {
  body {
    @apply bg-[#050505] text-[#7CFF6B] antialiased selection:bg-[#7CFF6B] selection:text-[#050505];
  }
}

/* Animações de Radar e Scan sutil */
@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.scanline::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent, rgba(124, 255, 107, 0.05), transparent);
  height: 100px;
  width: 100%;
  animation: scan 4s linear infinite;
  pointer-events: none;
}
