
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 2%;
  --foreground: 0 0% 100%;
  --primary: 0 72% 51%;
  --primary-foreground: 0 0% 100%;
  --radius: 1rem;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased selection:bg-red-600;
  }
}

/* Scrollbar Profissional Dark */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #18181b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}

/* Otimização de toque mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

.glass {
  background: rgba(18, 18, 18, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
